@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: hsl(42.3529 27.8689% 88.0392%);
	--foreground: hsl(0 0% 11.7647%);
	--card: hsl(41.2500 42.1053% 92.5490%);
	--card-foreground: hsl(0 0% 11.7647%);
	--popover: hsl(41.2500 42.1053% 92.5490%);
	--popover-foreground: hsl(0 0% 11.7647%);
	--primary: hsl(0 0% 18.0392%);
	--primary-foreground: hsl(52.0000 23.0769% 87.2549%);
	--secondary: hsl(42.0000 20.4082% 80.7843%);
	--secondary-foreground: hsl(0 0% 18.0392%);
	--muted: hsl(41.7391 19.3277% 76.6667%);
	--muted-foreground: hsl(40 6.8182% 34.5098%);
	--accent: hsl(52.0000 23.0769% 87.2549%);
	--accent-foreground: hsl(0 0% 18.0392%);
	--destructive: hsl(0 72.2222% 50.5882%);
	--destructive-foreground: hsl(0 0% 100%);
	--border: hsl(41.7391 20.3540% 77.8431%);
	--input: hsl(41.7391 20.3540% 77.8431%);
	--ring: hsl(0 0% 18.0392%);
	--chart-1: hsl(11.1377 86.5285% 62.1569%);
	--chart-2: hsl(0 0% 11.7647%);
	--chart-3: hsl(40 6.8182% 34.5098%);
	--chart-4: hsl(38.4000 12.5628% 60.9804%);
	--chart-5: hsl(41.7391 19.3277% 76.6667%);
	--sidebar: hsl(42.0000 26.3158% 85.0980%);
	--sidebar-foreground: hsl(0 0% 11.7647%);
	--sidebar-primary: hsl(0 0% 18.0392%);
	--sidebar-primary-foreground: hsl(52.0000 23.0769% 87.2549%);
	--sidebar-accent: hsl(52.0000 23.0769% 87.2549%);
	--sidebar-accent-foreground: hsl(0 0% 18.0392%);
	--sidebar-border: hsl(41.7391 20.3540% 77.8431%);
	--sidebar-ring: hsl(0 0% 18.0392%);
	--font-sans: "Inter", sans-serif;
	--font-serif: "Playfair Display", serif;
	--font-mono: "JetBrains Mono", monospace;
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 10px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.1;
	--shadow-color: #000000;
	--shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
	--shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
	--shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
	--shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
	--shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
	--shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
	--tracking-normal: 0.01em;
	--spacing: 0.25rem;
}

.dark {
	--background: hsl(0 0% 7.8431%);
	--foreground: hsl(38.5714 23.3333% 88.2353%);
	--card: hsl(0 0% 10.9804%);
	--card-foreground: hsl(38.5714 23.3333% 88.2353%);
	--popover: hsl(0 0% 10.9804%);
	--popover-foreground: hsl(38.5714 23.3333% 88.2353%);
	--primary: hsl(52.9412 15.5963% 78.6275%);
	--primary-foreground: hsl(0 0% 21.1765%);
	--secondary: hsl(0 0% 13.3333%);
	--secondary-foreground: hsl(52.9412 15.5963% 78.6275%);
	--muted: hsl(0 0% 16.4706%);
	--muted-foreground: hsl(38.1818 4.6414% 53.5294%);
	--accent: hsl(0 0% 21.1765%);
	--accent-foreground: hsl(52.9412 15.5963% 78.6275%);
	--destructive: hsl(0 84.2365% 60.1961%);
	--destructive-foreground: hsl(0 0% 100%);
	--border: hsl(0 0% 17.2549%);
	--input: hsl(0 0% 17.2549%);
	--ring: hsl(52.9412 15.5963% 78.6275%);
	--chart-1: hsl(11.1377 86.5285% 62.1569%);
	--chart-2: hsl(33.9130 23.2323% 80.5882%);
	--chart-3: hsl(38.1818 4.6414% 53.5294%);
	--chart-4: hsl(40.0000 3.3708% 34.9020%);
	--chart-5: hsl(0 0% 23.1373%);
	--sidebar: hsl(0 0% 6.2745%);
	--sidebar-foreground: hsl(38.5714 23.3333% 88.2353%);
	--sidebar-primary: hsl(52.9412 15.5963% 78.6275%);
	--sidebar-primary-foreground: hsl(0 0% 21.1765%);
	--sidebar-accent: hsl(0 0% 21.1765%);
	--sidebar-accent-foreground: hsl(52.9412 15.5963% 78.6275%);
	--sidebar-border: hsl(0 0% 17.2549%);
	--sidebar-ring: hsl(52.9412 15.5963% 78.6275%);
	--font-sans: "Inter", sans-serif;
	--font-serif: "Playfair Display", serif;
	--font-mono: "JetBrains Mono", monospace;
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 6px;
	--shadow-blur: 15px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.3;
	--shadow-color: #000000;
	--shadow-2xs: 0px 6px 15px 0px hsl(0 0% 0% / 0.15);
	--shadow-xs: 0px 6px 15px 0px hsl(0 0% 0% / 0.15);
	--shadow-sm: 0px 6px 15px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
	--shadow: 0px 6px 15px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
	--shadow-md: 0px 6px 15px 0px hsl(0 0% 0% / 0.30), 0px 2px 4px -1px hsl(0 0% 0% / 0.30);
	--shadow-lg: 0px 6px 15px 0px hsl(0 0% 0% / 0.30), 0px 4px 6px -1px hsl(0 0% 0% / 0.30);
	--shadow-xl: 0px 6px 15px 0px hsl(0 0% 0% / 0.30), 0px 8px 10px -1px hsl(0 0% 0% / 0.30);
	--shadow-2xl: 0px 6px 15px 0px hsl(0 0% 0% / 0.75);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
	letter-spacing: var(--tracking-normal);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
